services:

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    environment:
      POSTGRES_DB: marveldb
      POSTGRES_USER: marveldbuser
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"

  credit-card-payment-api:
    build: payment-service
    container_name: credit-card-payment-api
    ports:
      - "9090:9090"
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" # Since this is a deveoper only docker-compose file, this flag is set to true to automatically create the topic when the app is running